<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gin.mapper.QmAuthMapper">

    <resultMap id="BaseResultMap" type="gin.entity.QmAuth">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="voiceMessage" column="voice_message" />
            <result property="trashDays" column="trash_days" />
            <result property="maxStorage" column="max_storage" />
            <result property="isDefault" column="is_default" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,voice_message,trash_days,max_storage,is_default,
        created_at
    </sql>
</mapper>
